/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: lato, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------ */
/* RESUABLE COMPONENTS */
/* ------------------------------------ */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------ HEADINGS ----- */

h1 {
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

/* ------ BUTTONS ----- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
    color: #000;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    font-weight: 400;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f1c40f;
    color: #f1c40f;
}

.btn:hover,
.btn:active {
    background-color: #d2aa0c;
}

.btn-full:hover,
.btn-full:active {
    
    border: 1px solid #d2aa0c;
    font-weight: 400;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #d2aa0c;
    color: #000;
    font-weight: 400;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-img-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}